.profile { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: beige;
    padding-top: 10px;
    padding-bottom: 10px;
   }

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color:rgb(241, 241, 224);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.1);
 }

.description .avatar { 
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}
.name { 
    font-size: 30px;
    font-weight: 600;
}
.tag {
    color: #947ad1; 
 }
.location {
 color: #947ad1; 
 }

.stats {
    width: 200px;
    background-color: rgb(218, 218, 190);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

.label { 
    font-size: 10px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.quantity {
   color: #947ad1;  
 }